.gradle
/local.properties
.DS_Store
/captures
.idea
*.class
/.idea/workspace.xml
/.idea/libraries
/.idea/gradle.xml
/.idea/misc.xml
/.idea/modules.xml
/build
/EventBus/build
/app/build
/app/app.iml
/count_id.txt
/pl_Public_key.jks
/out
bin
